<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApJXzf73V5v77nnc0lUyruYbVSTh0wMY8</string>
	<key>GCM_SENDER_ID</key>
	<string>1064083970451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChatter</string>
	<key>PROJECT_ID</key>
	<string>flash-chatter-75210</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chatter-75210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064083970451:ios:555a8ca3e5c92ab2c53066</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chatter-75210-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>